version: "3"
services:

# docker compose down --rmi to remove images

  cassandra:
    environment:
      - CASSANDRA_PORT=9042
      - HEAP_NEWSIZE={{ nc.cassandra_ram }}G
      - MAX_HEAP_SIZE={{ nc.cassandra_ram }}G
    image: cassandra:3.11
    networks:
      - cassandra-net
    healthcheck:
      test: bash -c "cat < /dev/null > /dev/tcp/$${HOSTNAME}/$${CASSANDRA_PORT}"
      interval: 30s
      timeout: 2s
      retries: 2
      start_period: 45s
    deploy:
      replicas: {{ nc.cassandra_nodes }}
      resources:
        limits:
          cpus: "{{ nc.cassandra_cpu }}"
          memory: {{ nc.cassandra_ram }}G


  spark:
    image: spark:3.0.3
    build:
      dockerfile: Dockerfile
    # leave the stdin_open or else the example app quits
    stdin_open: true
    networks:
      - cassandra-net
    depends_on:
      cassandra:
        condition: service_healthy
    deploy:
      replicas: {{ nc.cassandra_nodes }}
      resources:
        limits:
          cpus: "{{ nc.spark_cpu }}"
          memory: {{ nc.spark_ram }}G

networks:
  cassandra-net: